
@* Thêm "_" vào tên file để không thể truy cập được từ client (không trở thành endpoint)*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div style="background-color:black; color: #fff;">PHẦN HEADER</div>
    @RenderBody()
    <div style="background-color:black; color: #fff;">PHẦN FOOTER</div>
    
</body>
</html>
